ENVIRONMENT = dev
API_PATH = /api/v1
DEBUG = True

HOST = 127.0.0.1
PORT = 8000

DB_DSN = sqlite:///.db.sqlite

# JWT令牌相关
JWT_SECRET = jwt_secret
JWT_ALGORITHM = HS256
JWT_EXPIRE_MINUTES = 1000
JWT_REFRESH_EXPIRE_MINUTES = 43200

XYSSO_CLIENT_ID = "DWs6hKMpI28vKg2raLCtoOItNGxoXYeR8Jno47X5"
XYSSO_CLIENT_SECRET = "dFLJ24FR7y4bRjHTDsU4"
XYSSO_AUTHORIZE_ENDPOINT = "https://sso.xinyuanbest.com/login"
XYSSO_TOKEN_ENDPOINT = "https://sso.xinyuanbest.com:28000/api/v1/xytoken"
XYSSO_PROFILE_ENDPOINT = "https://sso.xinyuanbest.com:28000/api/v1/userinfo"

